@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: #eeece7;
    background-color: rgb(153, 51, 90);
    font-family: var(--font-geist-sans);
  }
}

@layer components {
  .menuLink {
      @apply cursor-pointer hover:text-[#c5c5c5];
  }

  .tags {
    background-color: #0abde3;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    padding: 3px 10px;
    display: inline-block;
    color: #f3b711;
    font-size: 12px;
  }

  .tags:last-child {
    margin-right: 0;
  }

  .tags:nth-child(2) {
    background-color: #4c2572;
  }

  .tags:nth-child(3) {
    background-color: hsl(155, 58%, 30%);
  }

  .tags:nth-child(4) {
    background-color: #569753;
  }
}
